body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;

}

h1 {
  font-weight: 600;
  font-size: 16px;
}

h2 {
  font-weight: 500;
  font-size: 15px;
}

.heading {
  font-weight: 600;
  font-size: 20px;
}

label {
  font-weight: 600;
  font-size: 15px;
}

button .button {
  font-weight: 500;
  font-size: 14px;
}