.page {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: ghostwhite;
  width: 100vw;
  height: 100vh;
  color: rgba(5,113,118);
}

.box {
  background-color: #e5e7eb;
  margin: 5%;
  padding: 15px;
  border-radius: 10px;
}

.tabLinks {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: inherit;
}

.tabLinks:hover {
  background-color: #ddd;
}

.active {
  background-color: #ccc;
}

.input {
  border: none;
  margin: 5px 0px;
}

.textarea {
  border: none;
  resize: none;
  margin: 5px 0px;
}

h2 {
  display: inline;
}

h4 {
  display: inline;
}