.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content max-content;
  gap: 0px 0px;
  grid-template-areas:
    ". ."
    ". .";
}

.topbar {
  text-align: center;
  background-color: #e5e7eb;
  grid-column-start: 0;
  grid-column-end: span 2;
  grid-row-start: 0;
}

.featureCards {
  grid-row-start: 0;
  grid-column-start: 0;
  max-width: 50vw;
}

.featureCompleted {
  grid-row-start: -2;
  grid-column-start: 0;
  max-width: 50vw;
}

.bugCards {
  grid-row-start: 0;
  grid-column-start: 1;
  max-width: 50vw;
}

.bugCompleted {
  grid-row-start: -2;
  grid-column-start: 1;
  max-width: 50vw;
}

.card {
  display: grid;
  grid-template-columns: 2fr .5fr;
  gap: 0px 0px;
  word-wrap: break-word;
  border-style: solid;
  border-width: 1px;
  margin: 3px;
  padding: 5px;
  border-radius: 5px;
  border-color: black;
  max-width: 100%;
}

.buttonContainer {
  grid-column-start: 2;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
}

.completed {
  opacity: 50%;
}

.infoContainer {
  max-width: 100%;
  grid-column-start: 1;
  word-wrap: inherit;
}