.grid-container {
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
}

.tabs {
  border-bottom: 2px solid rgba(5,113,118);
}

.navbarlogo {
  align-self: center;
  height: 40px;
}

.topbar {
  display: flex;
  background-color: #e5e7eb;
  justify-content: left;
  padding: 10px;
}

.title {
  color: rgba(5,113,118);
  grid-row-start: 1;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: span 2;
  display: inline-block;
  align-self: center;
}

.link {
  padding: 5%;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.tabLinks {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: inherit;
}

.tabLinks:hover {
  background-color: #ddd;
}

.active {
  background-color: #ccc;
}

.columnTitles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: rgba(5,113,118);
}

.columnTop {
  width: 100%;
  text-align: center;
  color: rgba(5,113,118);
}

.middle {
  border-left: 2px solid rgba(5,113,118);
  border-right: 2px solid rgba(5,113,118);
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cardColumn {
  max-width: 33%;
}

.cardColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card {
  white-space: pre-wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
  padding: 5px;
  border-radius: 5px;
  background-color: #e5e7eb;
  border: 2px solid rgba(5,113,118);
  margin: 5px;
}

.card h3 {
  color: rgba(5,113,118);
}

.information {
  flex-grow: 3;
}

.defining {
  font-weight: 600;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 2px solid rgba(5,113,118);
}

#approved {
  background-color: rgba(200, 249, 220);
  border: 2px solid darkgreen;
}

#denied {
  background-color: rgba(255, 165, 165);
  border: 2px solid darkred;
}

#denied h3 {
  color: darkred;
}

#approved h3 {
  color: darkgreen;
}

#approvedbuttons {
  border-left: 2px solid darkgreen;
}

#deniedbuttons {
  border-left: 2px solid darkred;
}

.background {
  background-color: black;
  opacity: 50%;
}

.navbuttons {
  display: none;
}

.denied {
  color: rgba(5,113,118);
  text-align: center;
}

@media only screen and (max-width: 600px) {

  .navbuttons {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    left: 0px;
  }

  .cardContainer {
    display: flex;
    flex-direction: column;
  }

  .cardColumn {
    display: flex;
    max-width: 100%;
  }

  .floatingButton {
    border: none;
    padding: 6px;
    border-radius: 12px;
    background-color: #F2762F;
    color: ghostwhite;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
    margin: 5px;
  }

}